@font-face{
    font-family: Roboto;
    src: url(./roboto_medium.ttf);
}
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

:root{
    --text_color:#ffffff;
}
body,html{
    
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    margin-bottom: 20px;
}

.pare2{
    display: none;
}
img{position: fixed;
   right: 19%;
    height: 4em;
   transform: rotateZ(90deg);
   z-index: 3;
    width: auto;
    bottom: 0;
}
#scrollUp{
  
    bottom: 90%;
}
.con{
 
    display: flex;
 
    height: 100%;
padding-right: 26%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;



}

.con :nth-child(1){
    font-size: 2em;
    font-weight: bold;
    text-align: right;
  
min-width: 100%;
   color:#8d8ff7

}
.con :nth-child(2){
    font-size: 5em;
    font-weight: bold;
    text-align: right;
    width: 100%;

    color: #ffffff;

}
.con :nth-child(3),.con :nth-child(4){
    font-size: 1em;
    font-weight: bold;
    text-align: right;

width: 30%;
    color: #ffffff;

}
@keyframes stepping {
    0%{
        height:100%
    }
100%{
    height: 0%;
}
}
@keyframes steppingUp {
    0%{
        height:0%
    }
100%{
    height: 100%;
}
}
.cascade{
    width:400px;
    height: 400px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    
}
.notCascade{
    
    width:400px;
    height: 400px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}
.notCascade >div{
    z-index: 1;
    background-color: #ffffff;
    height: 0;
    width: 20%;
    
    animation: steppingUp 1s ease-in-out forwards;

}
.blank{
    width:400px;
    height: 400px;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}
.blank >div{
    z-index: 1;
    background-color: #ffffff;
    height: 100%;
    width: 20%;
    
}
.cascade >div{
  backdrop-filter: hue-rotate(200deg);
height: 400px;
animation: stepping 1s ease-in-out forwards;
width: 20%;
}
.cascade :nth-child(1){
    animation-delay: 200ms;
}
.cascade :nth-child(2){
    animation-delay: 400ms;
}
.cascade :nth-child(3){
    animation-delay: 600ms;
}
.cascade :nth-child(4){
    animation-delay: 800ms;
}
.cascade :nth-child(5){
    animation-delay: 1000ms;
}
.notCascade :nth-child(5){
    animation-delay: 200ms;
}
.notCascade :nth-child(4){
    animation-delay: 400ms;
}
.notCascade :nth-child(3){
    animation-delay: 600ms;
}
.notCascade :nth-child(2){
    animation-delay: 800ms;
}
.notCascade :nth-child(1){
    animation-delay: 1000ms;
}


.para{
    text-align: center;
  margin-bottom: 1em;
  font-size: medium;
  font-weight: 600;
  color: inherit;
  
  transition: all ease-in-out 0.2s;
}
.para:hover{
    
    color:#ffffff
}
.paraCon{
    padding: 2em;
    color:#ffffff
    
}
.pare{
    position: fixed;
    right: 0px;
    top: 0;
    width: 25%;
    bottom: 0px;
    display: flex;
    align-items: center;
 
    backdrop-filter: hue-rotate(180deg)
    
    
}


.para >span{
    display: block;
    transition: all;
    background-color:#ffffff;
    height: 1px;
    transition: width .3s ease-in-out;
    width: 0px;
}
.para:hover >span{
    width: 100%;

}
.selected{
    
    font-size: larger;
    color:#ffffff
}
.january{
    background-image: url("./images//mikael-kristenson-kOik-r4I3QY-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.february{
    background-image: url("./images//florian-olivo-4hbJ-eymZ1o-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.march{
    background-image: url("./images//fusion-medical-animation-rnr8D3FNUNY-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.april{
    background-image: url("./images//nathan-dumlao-EdULZpOKsUE-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.may{
    background-image: url("./images//zoriana-stakhniv-PUVgHyBgZn8-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.june{
    background-image: url("./images//k-mitch-hodge-IqSaG9zv2e0-unsplash.jpg");
    background-position: left,right;
    background-repeat: no-repeat;
    background-size:100%
}
.july{
    background-image: url("./images//ferenc-almasi-L8KQIPCODV8-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.august{
    background-image: url("./images//kendal-L4iKccAChOc-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.september{
    background-image: url("./images//louis-tsai-lqcvMiBABHw-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.october{
    background-image: url("./images//tobi-oshinnaike-MtNEziYlm2U-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.november{
    background-image: url("./images//john-towner-3Kv48NS4WUU-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
.december{
    background-image: url("./images/paolo-bendandi-CU_tgif9PTg-unsplash.jpg");
    background-size: 100% 100%;
    background-repeat: repeat;
}
@media screen and (max-width:900px){
    .con :nth-child(2){
        font-size: 4em;
    }
    .con :nth-child(3){
        width:50%
    }
    .pare{
        overflow-y: scroll;
    }
    .pare2{
        display: none;
    }
  
}
@media screen and (max-width:600px){
    .con :nth-child(2){
        font-size: 3em;
    }
    .con :nth-child(3){
        
        width:75%
    }
    .pare{
        overflow-y: scroll;
    }
    .pare2{
        display: none;
    }
    img{
        display: none;
    }

}
@media screen and (max-width:450px){
    .con :nth-child(1){
    font-size: large;
        text-align: center;
    }
    .con :nth-child(2){
        font-size: 2em;
        text-align: center;
    }
    .con :nth-child(3){
        text-align: center;
        width:75%
    }
    .con{
        padding:0;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .pare{
        display:none
    }
    .pare2{
        position: fixed;
        left: -45%;
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: 0.5s ease-in-out forwards;
        width: 45%;
        background-color: rgba(145, 150, 240, 0.4);
    }
    .hamburg,.activ{
        height:4em;
        width:4em;
        
        position:fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding:0.1em;
        right: 0.5em;
        top: 0.5em;
    }
    .pare2 >p{
        font-size: larger !important;
    }
    .hamburg >div,.activ >div{
        width:100%;
        height:0.2em;
        border-radius: 1px;
        background-color: gold;
        transition: all .4s  cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
 
    .activ :nth-child(1){
        transform: rotateZ(-45deg) translateY(1em);
    }
    .activ :nth-child(2){
transform: rotateZ(45deg) translateY(-1em);
    }
    .activ :nth-child(3){
transform: rotateZ(45deg) translateY(-1em);
opacity: 0;
    }
    @keyframes slideIn{
        0%{
            left: -45%;
            opacity: 0;
        }
        100%{
            left: 0%;
            opacity: 1;
        }
        
    }
    @keyframes slideOut{
        0%{
            left: 0%;
           opacity: 1;
        }
        100%{
            left: -45%;
            opacity: 0;
        }
        
    }
    #scrollUp{
        left:0px;
     
      bottom: 20%;
        transform: rotateZ(-0deg);
    }
    img{
        z-index: 2;
        position:fixed;
        right: 0px;

        transform: rotateZ(-0deg);
        bottom: 20%;
        width: auto;
        padding: 1em;
        height: 4em;
    }
}
